<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <title>Trips | 0430</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Trips</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    04/30 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="0430_1.html">陕西历史博物馆</a></li>
                    <li class="divider"></li>
                    <li><a href="0430_2.html">永兴坊</a></li>
                    <li class="divider"></li>
                    <li><a href="0430_3.html">古城墙</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="0501.html">05/01</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    05/02 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="0502_1.html">回民街</a></li>
                    <li class="divider"></li>
                    <li><a href="0502_2.html">小雁塔</a></li>
                    <li class="divider"></li>
                    <li><a href="0502_3.html">大雁塔</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="0503.html">05/03</a></li>
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>-->
    </div>
	</div>
</nav>
<ul class="breadcrumb">
	<li><a href="index.html">Trips</a></li>
	<li>04/30</li>
	<li class="active">陕西历史博物馆</li>
</ul>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
			<p>
				 <em>丝绸之路</em> 简称丝路，一般指陆上丝绸之路，广义上讲又分为陆上丝绸之路和海上丝绸之路，<strong>陆上丝绸之路</strong>起源于西汉（前202年—8年）汉武帝派张骞出使西域开辟的以首都长安（今西安）为起点，经甘肃、新疆，到中亚、西亚，并连接地中海各国的陆上通道。
			</p><img alt="140x140" src="../static/img/shanbo1.jpeg" class="img-rounded" />
		</div>
		<div class="col-md-4 column">
			<p>
				 <em>隋朝玉器</em> 偌大的隋唐展厅，我只看见了这么一丢丢隋朝古董。
			</p><img alt="140x140" src="../static/img/shanbo2.jpeg" class="img-rounded" />
		</div>
		<div class="col-md-4 column">
			<p>
				 <em>白石佛</em> 隋朝是我国封建社会从秦汉以后长期分裂走向统一，逐渐走向繁荣的时期，隋之前，周武帝灭佛毁寺，581年隋文帝执政，恢复佛教，大修周代废寺，建立经像，佛教盛极一时。
			</p><img alt="140x140" src="../static/img/shanbo3.jpeg" class="img-rounded" />
		</div>
	</div>
</div>
</body>
</html>