<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <title>Trips | 0501</title>
   <!-- 新 Bootstrap 核心 CSS 文件 -->
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Trips</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    04/30 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="0430_1.html">陕西历史博物馆</a></li>
                    <li class="divider"></li>
                    <li><a href="0430_2.html">永兴坊</a></li>
                    <li class="divider"></li>
                    <li><a href="0430_3.html">古城墙</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="0501.html">05/01</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    05/02 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="0502_1.html">回民街</a></li>
                    <li class="divider"></li>
                    <li><a href="0502_2.html">小雁塔</a></li>
                    <li class="divider"></li>
                    <li><a href="0502_3.html">大雁塔</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="0503.html">05/03</a></li>
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>-->
    </div>
	</div>
</nav>
<ul class="breadcrumb">
	<li><a href="index.html">Trips</a></li>
    <!--<li><a href="#">05/01</a></li>-->
    <li>05/01</li>
	<li class="active">兵马俑</li>
</ul>

<div class="container">
    <div class="row clearfix">
        <div class="jumbotron">
            <h2>欢迎来到世界第八奇迹-兵马俑！</h2>
            <p>外行看泥巴，内行看文化</p>
        </div>
    </div>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<img src="../static/img/bingmayong1.jpeg" class="img-rounded" />
            <img src="../static/img/bingmayong2.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong3.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong4.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong5.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong6.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong7.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong8.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong9.jpeg" class="img-thumbnail" />
            <img src="../static/img/bingmayong10.jpeg" class="img-thumbnail" />
		</div>
	</div>
</div>
</body>
</html>