<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <title>Trips | 0502</title>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Trips</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    04/30 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="0430_1.html">陕西历史博物馆</a></li>
                    <li class="divider"></li>
                    <li><a href="0430_2.html">永兴坊</a></li>
                    <li class="divider"></li>
                    <li><a href="0430_3.html">古城墙</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="0501.html">05/01</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    05/02 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="0502_1.html">回民街</a></li>
                    <li class="divider"></li>
                    <li><a href="0502_2.html">小雁塔</a></li>
                    <li class="divider"></li>
                    <li><a href="0502_3.html">大雁塔</a></li>
                    <li class="divider"></li>
                </ul>
            </li>
            <li><a href="0503.html">05/03</a></li>
        </ul>
        <!-- <form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>-->
    </div>
	</div>
</nav>
<ul class="breadcrumb">
	<li><a href="index.html">Trips</a></li>
	<li>05/02</li>
	<li class="active">小雁塔</li>
</ul>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<p>
					塔，就是一个光零零的塔
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>